.post{
    width: 90%;
    margin: 30px 40px 50px 40px;
}

.post-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.post-header-author{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bolder;
}

.post-header-author > span{
    color: grey;
    font-size: 15px;
}

.post-image > img{
    width:100%;
    border-radius: 6px;
    border: 0.6px solid rgba(128, 128, 128, 0.516);
}

.post-footer-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.postIcon{
    padding: 7px;
    font-size: 30px;
}

.postIcon:hover{
    cursor: pointer;

}

@media (max-width: 800px) {
    .post {
        margin: 20px 20px 40px 20px; /* Reduces margin on smaller screens */
    }



    .post-header-author > span {
        font-size: 14px; /* Adjusts font size for smaller screens */
    }

    .postIcon {
        font-size: 25px; /* Slightly reduces icon size on smaller screens */
    }
}

@media (max-width: 500px) {
    .post-header {
        flex-direction: column;
        align-items: flex-start; /* Stacks elements vertically in smaller viewports */
    }



    .post-header-author {
        margin-bottom: 10px; /* Adds space between author and date on small screens */
    }
}